p {
font-family: verdana;
text-align: center;
}
a {
font-family: verdana;
display: block;
margin-left: auto;
margin-right: auto;
width: 5%;
}
h1 {
font-family: verdana;
text-align: center;
}